:root {
  /* Theme 1 */
  /* Backgrounds */
  --theme1-main-bg: hsl(222, 26%, 31%);
  --theme1-toggle-bg: hsl(223, 31%, 20%);
  --theme1-screen-bg: hsl(224, 36%, 15%);

  /* Keys */
  --theme1-blue-key-bg: hsl(225, 21%, 49%);
  --theme1-blue-key-shadow: hsl(224, 28%, 35%);
  --theme1-red-key-bg: hsl(6, 63%, 50%);
  --theme1-red-key-shadow: hsl(6, 70%, 34%);
  --theme1-white-key-bg: hsl(30, 25%, 89%);
  --theme1-white-key-shadow: hsl(28, 16%, 65%);

  /* Text */
  --theme1-blue-text: hsl(221, 14%, 31%);
  --theme1-white-text: hsl(0, 0%, 100%);

  /* Theme 2 */
  /* Backgrounds */
  --theme2-main-bg: hsl(0, 0%, 90%);
  --theme2-toggle-bg: hsl(0, 5%, 81%);
  --theme2-screen-bg: hsl(0, 0%, 93%);

  /* Keys */
  --theme2-blue-key-bg: hsl(185, 42%, 37%);
  --theme2-blue-key-shadow: hsl(185, 58%, 25%);
  --theme2-orange-key-bg: hsl(25, 98%, 40%);
  --theme2-orange-key-shadow: hsl(25, 99%, 27%);
  --theme2-white-key-bg: hsl(45, 7%, 89%);
  --theme2-white-key-shadow: hsl(35, 11%, 61%);

  /* Text */
  --theme2-dark-text: hsl(60, 10%, 19%);
  --theme2-white-text: hsl(0, 0%, 100%);

  /* Theme 3 */
  /* Backgrounds */
  --theme3-main-bg: hsl(268, 75%, 9%);
  --theme3-toggle-bg: hsl(268, 71%, 12%);

  /* Keys */
  --theme3-violet-key-bg: hsl(281, 89%, 26%);
  --theme3-violet-key-shadow: hsl(285, 91%, 52%);
  --theme3-blue-key-bg: hsl(176, 100%, 44%);
  --theme3-blue-key-shadow: hsl(177, 92%, 70%);
  --theme3-dark-violet-key-bg: hsl(268, 47%, 21%);
  --theme3-dark-violet-key-shadow: hsl(290, 70%, 36%);

  /* Text */
  --theme3-yellow-text: hsl(52, 100%, 62%);
  --theme3-dark-text: hsl(198, 20%, 13%);
  --theme3-white-text: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "League Spartan";
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

.themes-container {
  display: flex;
  align-items: flex-end;
}

.themes-container > label {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
  margin-right: 2rem;
  margin-bottom: 0.2rem;
}

.theme-selection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.theme-labels {
  display: flex;
  justify-content: space-around;
}

.theme-labels span {
  font-size: 1rem;
}

.slider {
  width: 4.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.slider-button {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
}

button {
  font-size: inherit;
  border: none;
  border-radius: 0.4rem;
  font-weight: 700;
}

button:active {
  box-shadow: none;
  position: relative;
  top: 4px;
}

button:hover {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  width: min-content;
  gap: 1.5rem;
}

.result {
  text-align: right;
  padding: 2rem;
  font-weight: 700;
  font-size: 44px;
  border-radius: 0.8rem;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 2em);
  grid-template-rows: repeat(5, 2em);
  grid-gap: 1rem;
  padding: 1.5rem;
  border-radius: 0.8rem;
  width: fit-content;
  justify-content: center;
}

.reset,
.equals {
  grid-column-start: span 2;
}

.reset,
.del {
  text-transform: uppercase;
}

/* Theme 1 */

body.theme1 {
  background-color: var(--theme1-main-bg);
}

.theme1 header {
  color: var(--theme1-white-text);
}

.theme1 .slider {
  background-color: var(--theme1-toggle-bg);
  justify-content: flex-start;
}

.theme1 .slider-button {
  background-color: var(--theme1-red-key-bg);
}

.theme1 .result {
  background-color: var(--theme1-screen-bg);
  color: var(--theme1-white-text);
}

.theme1 .keyboard {
  background-color: var(--theme1-toggle-bg);
}

.theme1 button {
  background-color: var(--theme1-white-key-bg);
  color: var(--theme1-blue-text);
  box-shadow: 0 4px var(--theme1-white-key-shadow);
}

.theme1 .del,
.theme1 .reset {
  background-color: var(--theme1-blue-key-bg);
  color: var(--theme1-white-text);
  box-shadow: 0 4px var(--theme1-blue-key-shadow);
}

.theme1 .equals {
  background-color: var(--theme1-red-key-bg);
  color: var(--theme1-white-text);
  box-shadow: 0 4px var(--theme1-red-key-shadow);
}

/* Theme 2 */

body.theme2 {
  background-color: var(--theme2-main-bg);
}

.theme2 header {
  color: var(--theme2-dark-text);
}

.theme2 .slider {
  background-color: var(--theme2-toggle-bg);
  justify-content: center;
}

.theme2 .slider-button {
  background-color: var(--theme2-orange-key-bg);
}

.theme2 .result {
  background-color: var(--theme2-screen-bg);
  color: var(--theme2-dark-text);
}

.theme2 .keyboard {
  background-color: var(--theme2-toggle-bg);
}

.theme2 button {
  background-color: var(--theme2-white-key-bg);
  color: var(--theme2-dark-text);
  box-shadow: 0 4px var(--theme2-white-key-shadow);
}

.theme2 .del,
.theme2 .reset {
  background-color: var(--theme2-blue-key-bg);
  color: var(--theme2-white-text);
  box-shadow: 0 4px var(--theme2-blue-key-shadow);
}

.theme2 .equals {
  background-color: var(--theme2-orange-key-bg);
  color: var(--theme2-white-text);
  box-shadow: 0 4px var(--theme2-orange-key-shadow);
}

/* Theme 3 */

body.theme3 {
  background-color: var(--theme3-main-bg);
}

.theme3 header {
  color: var(--theme3-yellow-text);
}

.theme3 .slider {
  background-color: var(--theme3-toggle-bg);
  justify-content: flex-end;
}

.theme3 .slider-button {
  background-color: var(--theme3-blue-key-bg);
}

.theme3 .result {
  background-color: var(--theme3-toggle-bg);
  color: var(--theme3-yellow-text);
}

.theme3 .keyboard {
  background-color: var(--theme3-toggle-bg);
}

.theme3 button {
  background-color: var(--theme3-dark-violet-key-bg);
  color: var(--theme3-yellow-text);
  box-shadow: 0 4px var(--theme3-dark-violet-key-shadow);
}

.theme3 .del,
.theme3 .reset {
  background-color: var(--theme3-violet-key-bg);
  color: var(--theme3-white-text);
  box-shadow: 0 4px var(--theme3-violet-key-shadow);
}

.theme3 .equals {
  background-color: var(--theme3-blue-key-bg);
  color: var(--theme3-dark-text);
  box-shadow: 0 4px var(--theme3-blue-key-shadow);
}
