:root {
  /* Primary colours */
  --scissors-gradient: linear-gradient(to top, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --paper-gradient: linear-gradient(to top, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --rock-gradient: linear-gradient(to top, hsl(349, 71%, 52%), hsl(349, 70%, 56%));

  /* Neutral colours */
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);

  /* Background colours */
  --radial-gradient: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed";
  color: white;
  background-image: var(--radial-gradient);
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 2em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 4em);
}

header {
  border: 1px solid var(--header-outline);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  max-width: 500px;
  width: 100%;
}

h1 {
  line-height: 0.9;
  margin: 0;
}

h1 div {
  text-transform: uppercase;
}

.score-box {
  box-sizing: content-box;
  background-color: white;
  padding: 0.5em;
  width: 77px;
  text-align: center;
}

.score-box label {
  color: var(--score-text);
  text-transform: uppercase;
}

.score {
  color: var(--dark-text);
  font-size: 48px;
  font-weight: bold;
}

.rock,
.paper,
.scissors {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.rock > div,
.paper > div,
.scissors > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle at center 60%, white 70%, hsl(0, 0%, 80%) 70%);
  width: 100px;
  height: 100px;
  /* padding: 1em calc(1em + 13px / 2); */
  border-radius: 50%;
}

/*
.rock-paper-scissors > div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.rock-paper-scissors > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle at center 60%, white 70%, hsl(0, 0%, 80%) 70%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
*/

.rock-paper-scissors {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  margin: auto;
}

.rock-paper-scissors > img {
  position: absolute;
  transform: scale(80%);
}

.decoration {
  display: block;
  height: 20px;
  width: 100px;
  position: absolute;
  background-color: hsl(237, 49%, 15%, 50%);
  z-index: -1;
}

.paper-scissors {
  top: 60px;
}

.paper-rock {
  top: 150px;
  left: 100px;
  transform: rotate(60deg);
}

.scissors-rock {
  top: 150px;
  right: 100px;
  transform: rotate(-60deg);
}

.rock,
.paper,
.scissors {
  position: relative;
}

.paper {
  background-image: linear-gradient(to bottom, hsl(20, 89%, 65%, 15%), hsl(230, 89%, 62%, 0%), transparent),
                    radial-gradient(circle at center 40%, hsl(230, 89%, 62%) 70%, hsl(230, 60%, 50%) 70%);
}

.scissors {
  background-image: linear-gradient(to bottom, hsl(40, 84%, 53%, 15%), hsl(39, 89%, 49%, 0%), transparent),
                    radial-gradient(circle at center 40%, hsl(39, 89%, 49%) 70%, hsl(39, 90%, 35%) 70%);
}

.rock {
  background-image: linear-gradient(to bottom, hsl(349, 70%, 56%, 15%), hsl(349, 71%, 52%, 0%), transparent),
                    radial-gradient(circle at center 40%, hsl(349, 71%, 52%) 70%, hsl(349, 71%, 38%) 70%);
}

.results {
  display: flex;
  gap: 50px;
  max-width: 400px;
  flex-wrap: wrap;
  justify-content: center;
}

.winner-decoration {
  display: block;
  position: absolute;
  width: 300%;
  height: 300%;
  background-image: radial-gradient(hsl(214, 47%, 23%, 100%) 40%, hsl(214, 47%, 23%, 60%) 40% 55%, hsl(214, 47%, 23%, 20%) 55%);
  border-radius: 50%;
  z-index: -1;
}

.you-picked,
.house-picked {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.selection-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
}

.selection-placeholder > div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: hsl(237, 49%, 15%, 30%);
}

.you-picked label,
.house-picked label {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.win-lose-message {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
}

.new-game button {
  background-color: white;
  color: var(--dark-text);
  border: none;
  padding: 1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 100%;
}

.rules-button {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 1em 3em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.rules {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 4em);
}

.rules h1 {
  color: var(--dark-text);
  text-transform: uppercase;
}

.hidden {
  display: none;
}

@media (min-width: 600px) {
  .rock-paper-scissors {
    width: 600px;
  }

  .rock-paper-scissors > img {
    transform: scale(100%);
  }

  .rock,
  .paper,
  .scissors {
    width: 220px;
    height: 220px;
    padding: 1.5em;
  }

  .rock > div,
  .paper > div,
  .scissors > div {
    width: 100%;
    height: 100%;
  }

  .rock img,
  .paper img,
  .scissors img {
    transform: scale(150%);
  }

  .results {
    align-items: center;
    max-width: none;
    flex-wrap: nowrap;
  }

  .house-picked {
    order: 1;
  }

  .you-picked,
  .house-picked {
    gap: 4em;
  }

  .you-picked label,
  .house-picked label {
    order: -1;
    font-size: 1.5em;
    letter-spacing: 0.1em;
  }

  .selection-placeholder {
    width: 220px;
    height: 220px;
    padding: 1.5em;
  }

  .selection-placeholder > div {
    width: 100%;
    height: 100%;
  }

  .new-game {
    flex-shrink: 0;
  }

  .rules-button {
    align-self: flex-end;
  }

  .rules-container {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }

  .rules {
    justify-content: space-between;
    width: fit-content;
    height: fit-content;
    padding: 2em;
  }

  .rules h1 {
    align-self: flex-start;
    margin-bottom: 1em;
  }

  .game-rules {
    order: 1;
  }

  .close-rules {
    align-self: flex-end;
    position: absolute;
  }
}
